body {
  padding: 10rem 20rem;
  background: #ffff;
}
form {
  padding-bottom: 3.5rem;
  font-family: monospace;
  background: lightblue;
}
h1 {
  font-family: monospace;
  position: static;
  padding-bottom: 3.5rem;
  color: #206176;
}
h2 {
  font-family: monospace;
  position: static;
  padding-bottom: 3.5rem;
  color: #206176;
}
.block {
  background: #add8e6;
  padding: 1.5rem;
  border: 1px solid rgb(57, 74, 109);
  border-radius: 30px;
}
.icon {
  font-size: 50px;
  color: #71b5cc;
}
.container {
  font-weight: 600;
  font-family: monospace;
  color: #206176;
}
.forecast {
  color: #206176;
  font-size: 18px;
}
#date-time {
  display: block;
  list-style-type: none;
}
